@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaRegular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaMedium.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaBold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('~@frontend/flib-react/lib/assets/fonts/RobotoMono-Regular.ttf');
    font-style: normal;
    font-weight: 700;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(91.44deg, #0a0812 0.31%, #120f1a 99.41%);
}

body {
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    justify-content: center;
}

.fade-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0%);
}

.fade-exit-active {
    transform: translateX(-100%);
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
