[submodule "modules/e712"]
	path = modules/e712
	url = git@github.com:ticket721/e712
	branch = master
[submodule "modules/ethvtx"]
	path = modules/ethvtx
	url = git@github.com:ticket721/ethvtx
	branch = develop
[submodule "modules/test-geth"]
	path = modules/test-geth
	url = git@github.com:ticket721/test-geth
	branch = master
[submodule "modules/erc2280"]
	path = modules/erc2280
	url = git@github.com:ticket721/erc2280
[submodule "contracts/contracts_modules/daiplus"]
	path = contracts/contracts_modules/daiplus
	url = git@github.com:ticket721/daiplus
	branch = develop
[submodule "contracts/contracts_modules/ticketforge"]
	path = contracts/contracts_modules/ticketforge
	url = git@github.com:ticket721/ticketforge
[submodule "contracts/contracts_modules/metamarketplace"]
	path = contracts/contracts_modules/metamarketplace
	url = git@github.com:ticket721/metamarketplace
[submodule "contracts/contracts_modules/t721controller"]
	path = contracts/contracts_modules/t721controller
	url = git@github.com:ticket721/t721controller
[submodule "contracts/contracts_modules/refract"]
	path = contracts/contracts_modules/refract
	url = git@github.com:ticket721/refract
