# This is a dockerfile version that does not trigger complete reinstall
version: "3.3"
services:
  raw:
    build:
      context: ./
      dockerfile: raw.dockerfile
      args:
        - "TAG=$TAG"
    image: "raw:$TAG"
  server:
    build:
      context: ./modules/@backend_nest
      dockerfile: server.dockerfile
      args:
        - "TAG=$TAG"
    image: "server:$TAG"
  migrations:
    build:
      context: ./modules/@backend_migrations
      dockerfile: migrations.dockerfile
      args:
        - "TAG=$TAG"
    image: "migrations:$TAG"
  organizer:
    build:
      context: ./modules/@frontend_organizer-app
      dockerfile: organizer.dockerfile
      args:
        - "TAG=$TAG"
    image: "organizer:$TAG"
  t721app:
    build:
      context: ./modules/@frontend_t721-app
      dockerfile: t721app.dockerfile
      args:
        - "TAG=$TAG"
    image: "t721app:$TAG"
  staff:
    build:
      context: ./modules/@frontend_staff-app
      dockerfile: staff.dockerfile
      args:
        - "TAG=$TAG"
    image: "staff:$TAG"


