{{- if .Values.monitoring.prometheus.enabled -}}
apiVersion: v1
kind: PersistentVolume
metadata:
    name: "{{ include "env.fullname" . }}--grafana-persistence--pv"
    labels:
        {{ include "env.labels" . | nindent 8 }}
spec:
    storageClassName: "standard"
    capacity:
        storage: {{ .Values.prometheus.grafana.persistence.size }}
    accessModes:
        - {{ .Values.prometheus.grafana.persistence.accessMode }}
    claimRef:
        namespace: default
        name: "{{ .Values.prometheus.grafana.persistence.existingClaim }}"
        {{- if .Values.dev }}
    hostPath:
        path: /tmp/grafana
        {{ else }}
    gcePersistentDisk:
        pdName: {{ .Values.monitoring.grafana.persistence.gceVolume }}
        fsType: {{ .Values.monitoring.grafana.persistence.gceVolumeType }}
        {{ end }}
{{- end -}}

