redis:
  usePassword: false

  master:
    resources:
      requests:
        memory: 256Mi
        cpu: 250m

    persistence:
      size: 100Gi

  slave:
    resources:
      requests:
        memory: 256Mi
        cpu: 250m

    persistence:
      size: 100Gi
