<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629698577321-df4iguoo2m5br1ehacf1f9i1pac7m90q.apps.googleusercontent.com</string>
</dict>
</plist>
