# Default values for monitoring.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

dev: true

serviceAccount:
    create: true

monitoring:
    prometheus:
        enabled: true
    grafana:
        persistence:
            gceVolume: grafana-disk
            gceVolumeType: ext4
    sentry:
        persistence:
            gceVolume: sentry-disk
            gceVolumeType: ext4

prometheus:
    prometheusOperator:
        createCustomResource: false
    grafana:
        adminPassword: admin
        service:
            type: NodePort
        persistence:
            enabled: true
            accessMode: ReadWriteOnce
            existingClaim: grafana-persistence--pvc
            size: 10Gi

sentry:
    persistence:
        enabled: true
        accessMode: ReadWriteOnce
        existingClaim: sentry-persistence--pvc
        size: 10Gi