@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaRegular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaMedium.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaBold.otf');
    font-style: normal;
    font-weight: 700;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #120F1A;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(91.44deg,#0a0812 0.31%,#120f1a 99.41%);
    background: -moz-linear-gradient(91.44deg,#0a0812 0.31%,#120f1a 99.41%);
    background: -ms-linear-gradient(91.44deg,#0a0812 0.31%,#120f1a 99.41%);
    background: -o-linear-gradient(91.44deg,#0a0812 0.31%,#120f1a 99.41%);
    background: linear-gradient(91.44deg,#0a0812 0.31%,#120f1a 99.41%);
}
