@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaRegular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaMedium.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gordita';
    src: url('~@frontend/flib-react/lib/assets/fonts/GorditaBold.otf');
    font-style: normal;
    font-weight: 700;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #120F1A;
}

body {
    -moz-osx-font-smoothing: grayscale;
}
