name: T721 Monorepo CI

on: [push]

jobs:
    install:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 12.x
              uses: actions/setup-node@v1.2.0
              with:
                  node-version: 12.x

            - name: Setup SSH Agent
              uses: webfactory/ssh-agent@v0.1.1
              with:
                  ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

            - name: Install required tools globally (npm install -g lerna lcov-result-merger)
              run: npm install -g lerna@3.16.4 lcov-result-merger@3.1.0

            - name: Setup submodules (npm run setup:submodules:clone)
              run: npm run setup:submodules:clone

            - name: CACHE /node_modules
              uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}-root

            - name: CACHE /contracts/contracts_modules/daiplus/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/daiplus/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/daiplus/package-lock.json') }}-daiplus

            - name: CACHE /contracts/contracts_modules/metamarketplace/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/metamarketplace/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/metamarketplace/package-lock.json') }}-metamarketplace

            - name: CACHE /contracts/contracts_modules/refract/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/refract/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/refract/package-lock.json') }}-refract

            - name: CACHE /contracts/contracts_modules/t721controller/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/t721controller/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/t721controller/package-lock.json') }}-t721controller

            - name: CACHE /contracts/contracts_modules/ticketforge/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/ticketforge/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/ticketforge/package-lock.json') }}-ticketforge

            - name: CACHE /sources/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/package-lock.json') }}-sources

            - name: CACHE /sources/global/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/global/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/global/package-lock.json') }}-global

            - name: CACHE /sources/sdk/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/sdk/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/sdk/package-lock.json') }}-sdk

            - name: CACHE /sources/migrations/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/migrations/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/migrations/package-lock.json') }}-migrations

            - name: CACHE /sources/server/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/server/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/server/package-lock.json') }}-server

            - name: Install main dependencies (npm install --ignore-scripts)
              run: npm install --ignore-scripts

            - name: Install contracts dependencies (npm run install:ticket721contracts)
              run: npm run install:ticket721contracts

            - name: Install sources dependencies (npm run install:ticket721sources)
              run: npm run install:ticket721sources

    global:
        needs: install
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 12.x
              uses: actions/setup-node@v1.2.0
              with:
                  node-version: 12.x

            - name: CACHE /node_modules
              uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}-root

            - name: CACHE /sources/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/package-lock.json') }}-sources

            - name: CACHE /sources/global/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/global/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/global/package-lock.json') }}-global

            - name: CACHE /sources/sdk/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/sdk/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/sdk/package-lock.json') }}-sdk

            - name: CACHE /sources/migrations/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/migrations/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/migrations/package-lock.json') }}-migrations

            - name: CACHE /sources/server/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/server/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/server/package-lock.json') }}-server

            - name: Link sources (npm run link:sources)
              run: npm run link:sources

            - name: Build @ticket721sources/global (npm run build in sources/global)
              working-directory: sources/global
              run: npm run build

            - name: TSLint @ticket721sources/global (npm run lint in sources/global)
              working-directory: sources/global
              run: npm run lint

            - name: Test @ticket721sources/global (npm run test:cov in sources/global)
              working-directory: sources/global
              run: npm run test:cov

            - name: Codecov (npm run codecov:upload)
              run: npm run codecov:upload
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    sdk:
        needs: install
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 12.x
              uses: actions/setup-node@v1.2.0
              with:
                  node-version: 12.x

            - name: CACHE /node_modules
              uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}-root

            - name: CACHE /sources/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/package-lock.json') }}-sources

            - name: CACHE /sources/global/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/global/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/global/package-lock.json') }}-global

            - name: CACHE /sources/sdk/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/sdk/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/sdk/package-lock.json') }}-sdk

            - name: CACHE /sources/migrations/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/migrations/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/migrations/package-lock.json') }}-migrations

            - name: CACHE /sources/server/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/server/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/server/package-lock.json') }}-server

            - name: Link sources (npm run link:sources)
              run: npm run link:sources

            - name: Build @ticket721sources/global (npm run build in sources/global)
              working-directory: sources/global
              run: npm run build

            - name: Build @ticket721sources/sdk (npm run build in sources/sdk)
              working-directory: sources/sdk
              run: npm run build

            - name: TSLint @ticket721sources/sdk (npm run lint in sources/sdk)
              working-directory: sources/sdk
              run: npm run lint

            - name: Codecov (npm run codecov:upload)
              run: npm run codecov:upload
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    server:
        needs: install
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 12.x
              uses: actions/setup-node@v1.2.0
              with:
                  node-version: 12.x

            - name: Setup SSH Agent
              uses: webfactory/ssh-agent@v0.1.1
              with:
                  ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

            - name: Setup submodules (npm run setup:submodules:clone)
              run: npm run setup:submodules:clone

            - name: CACHE /node_modules
              uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}-root

            - name: CACHE /contracts/contracts_modules/daiplus/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/daiplus/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/daiplus/package-lock.json') }}-daiplus

            - name: CACHE /contracts/contracts_modules/metamarketplace/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/metamarketplace/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/metamarketplace/package-lock.json') }}-metamarketplace

            - name: CACHE /contracts/contracts_modules/refract/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/refract/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/refract/package-lock.json') }}-refract

            - name: CACHE /contracts/contracts_modules/t721controller/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/t721controller/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/t721controller/package-lock.json') }}-t721controller

            - name: CACHE /contracts/contracts_modules/ticketforge/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/ticketforge/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/ticketforge/package-lock.json') }}-ticketforge

            - name: CACHE /sources/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/package-lock.json') }}-sources

            - name: CACHE /sources/global/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/global/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/global/package-lock.json') }}-global

            - name: CACHE /sources/sdk/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/sdk/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/sdk/package-lock.json') }}-sdk

            - name: CACHE /sources/migrations/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/migrations/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/migrations/package-lock.json') }}-migrations

            - name: CACHE /sources/server/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/server/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/server/package-lock.json') }}-server

            - name: Link sources (npm run link:sources)
              run: npm run link:sources

            - name: Setup portals (npm run setup:portals)
              run: npm run setup:portals

            - name: Build @ticket721sources/global (npm run build in sources/global)
              working-directory: sources/global
              run: npm run build

            - name: Build @ticket721sources/sdk (npm run build in sources/sdk)
              working-directory: sources/sdk
              run: npm run build

            - name: Build @ticket721sources/server @app/server
              working-directory: sources/server
              run: npm run build:server

            - name: Format check on @ticket721sources/server
              working-directory: sources/server
              run: npm run format:check

            - name: TSLint check on @ticket721sources/server
              working-directory: sources/server
              run: npm run lint

            - name: Run @ticket721sources/server @app/server, @lib/common unitary tests (npm run test:cov in sources/server)
              working-directory: sources/server
              run: npm run test:cov

            - name: Codecov (npm run codecov:upload)
              run: npm run codecov:upload
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    server-e2e:
        needs: install
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 12.x
              uses: actions/setup-node@v1.2.0
              with:
                  node-version: 12.x

            - name: Setup SSH Agent
              uses: webfactory/ssh-agent@v0.1.1
              with:
                  ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

            - name: Install required tools globally (npm install -g truffle)
              run: npm install -g truffle@5.1.6

            - name: Setup submodules (npm run setup:submodules:clone)
              run: npm run setup:submodules:clone

            - name: CACHE /node_modules
              uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}-root

            - name: CACHE /contracts/contracts_modules/daiplus/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/daiplus/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/daiplus/package-lock.json') }}-daiplus

            - name: CACHE /contracts/contracts_modules/metamarketplace/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/metamarketplace/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/metamarketplace/package-lock.json') }}-metamarketplace

            - name: CACHE /contracts/contracts_modules/refract/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/refract/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/refract/package-lock.json') }}-refract

            - name: CACHE /contracts/contracts_modules/t721controller/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/t721controller/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/t721controller/package-lock.json') }}-t721controller

            - name: CACHE /contracts/contracts_modules/ticketforge/node_modules
              uses: actions/cache@v1
              with:
                  path: ./contracts/contracts_modules/ticketforge/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('contracts/contracts_modules/ticketforge/package-lock.json') }}-ticketforge

            - name: CACHE /sources/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/package-lock.json') }}-sources

            - name: CACHE /sources/global/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/global/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/global/package-lock.json') }}-global

            - name: CACHE /sources/sdk/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/sdk/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/sdk/package-lock.json') }}-sdk

            - name: CACHE /sources/migrations/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/migrations/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/migrations/package-lock.json') }}-migrations

            - name: CACHE /sources/server/node_modules
              uses: actions/cache@v1
              with:
                  path: ./sources/server/node_modules
                  key: ${{ runner.os }}-${{ hashFiles('sources/server/package-lock.json') }}-server

            - name: Link sources (npm run link:sources)
              run: npm run link:sources

            - name: Setup portals (npm run setup:portals)
              run: npm run setup:portals

            - name: Build @ticket721sources/global (npm run build in sources/global)
              working-directory: sources/global
              run: npm run build

            - name: Build @ticket721sources/sdk (npm run build in sources/sdk)
              working-directory: sources/sdk
              run: npm run build

            - name: Run @ticket721sources/server @app/server e2e tests (npm run test:server:e2e:cov in sources/server)
              run: sudo sysctl -w vm.max_map_count=262144 && cd sources/server && npm run test:server:e2e:cov

            - name: Codecov (npm run codecov:upload)
              run: npm run codecov:upload
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

