apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "platform.fullname" . }}--t721app-config-server-config--cfmp
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "platform.fullname" . }}--t721app-config-server-config--cfmp
    chart: {{ .Chart.Name }}
data:
  server.config.js: |-
    module.exports = {
      BUILD_PATH: './build',
      PORT: 5000,
      SERVER_HOST: '{{ include "platform.fullname" . }}--server--svc',
      SERVER_PORT: 80,
      SERVER_PROTOCOL: 'http',
      APP_URL: 'https://{{ required "[t721app] Missing config.t721app.self value" .Values.config.t721app.self }}'
    }
